* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    height: 150px;
    background: #2A313C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 123;

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: 0 auto;

        .logo {
            border-radius:50%;
            width: 120px;
            height: 120px;
            margin-top: -330px;
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            -ms-border-radius:50%;
            -o-border-radius:50%;
}

        .list {
            display: flex;
            justify-content: space-between;
            width: 60%;
            list-style-type: none;

            .item {
                margin-top: 50px;
                
                .link {
                    color: white;
                    text-decoration: none;

                    select {
                        color: white;
                        background: #2A313C;
                        margin-top: -10px;
                        width: 74px;
                        height: 35px;
                        border: 2px solid rgb(178, 178, 178);
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                    }
                }
            }
        }
    }
}
.ourTeacher{
    text-align: center;
}