* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    height: 80px;
    background: #2A313C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 123;

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: 0 auto;

        .df {
            margin-top: -30px;
            display: flex;
            justify-content: space-between;
            width: 35%;
        }

        .logo {
            border-radius: 5px;
            width: 150px;
            height: 50px;
            margin-top: 0px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .logoText {
            color: #F4BF21;
        }

        .list {
            display: flex;
            justify-content: space-between;
            width: 60%;
            height: 80px;
            list-style-type: none;

            .items {
                margin-top: 20px;

                .link {
                    color: white;
                    text-decoration: none;

                    select {
                        color: white;
                        background: #2A313C;
                        outline: none;
                        margin-top: -10px;
                        width: 74px;
                        height: 35px;
                        border: none;
                    }
                }
            }
        }
    }
}

.ourTeacher {
    text-align: center;
}